<!-- sortie-confirme-details-modal.component.html -->
<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Détails de la sortie #{{ sortie.id }}</h3>
      <button class="close-button" (click)="onClose()">&times;</button>
    </div>

    <div class="modal-body">
      <app-error *ngIf="error.show" [message]="error.message"></app-error>
      <form>
        <div class="form-row">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="sortie.date | date: 'dd/MM/yyyy'"
            />
          </div>
          <div class="form-group">
            <label>Chantier</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="sortie.chantier ? sortie.chantier.nom : 'Non associé'"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Observation</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="sortie.observation || 'Aucune'"
            />
          </div>
          <div class="form-group">
            <label>Magazinier</label>
            <input
              readonly
              type="text"
              class="form-control"
              [value]="sortie.compte.nom + ' ' + sortie.compte.prenom"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div style="margin-right: auto">
        <button class="button red-button" (click)="confirmationModal = true">
          Supprimer
        </button>
      </div>
      <button class="button black-button" (click)="downloadFile()" >Exporter Bon de Livraison</button>
    </div>
  </div>
</div>

<div *ngIf="confirmationModal">
  <app-confirm-delete
    [resource]="'cette sortie'"
    (close)="confirmationModal = false"
    (confirm)="supprimer()"
  ></app-confirm-delete>
</div>
