.alert {
  background-color: #eb5757; /* Red color */
  color: white;
  padding: 15px 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  width: 100%;
}
