<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Ajouter fournisseurs d'article</h3>
      <button class="close-button" (click)="onClose()">&times;</button>
    </div>
    <div class="modal-body">
      <div *ngIf="error.show">
        <app-error [message]="error.message"></app-error>
      </div>

      <form [formGroup]="form">
        <div formArrayName="items">
          @for (item of items.controls; track i; let i = $index) {
          <div class="form-row" [formGroupName]="i">
            <div class="form-group">
              <label>Fournisseur :</label>
              <select
                id="name-{{ i }}"
                formControlName="fournisseur"
                class="form-control"
              >
                <option value="">Selectionnez fournisseur</option>
                <option
                  [value]="fournisseur.code"
                  *ngFor="let fournisseur of fournisseurs"
                >
                  {{ fournisseur.nom }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Fabriquant :</label>
              <select
                id="fabriquant-{{ i }}"
                formControlName="fabriquant"
                class="form-control"
              ></select>
            </div>
            <div class="form-group">
              <label>Stock :</label>
              <input
                id="stock-{{ i }}"
                formControlName="stock"
                type="number"
                [min]="0"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Prix :</label>
              <input
                id="prix-{{ i }}"
                formControlName="prix"
                type="number"
                [min]="0"
                class="form-control"
              />
            </div>
          </div>
          }
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="button black-button"
        (click)="onClose()"
        style="margin-right: auto"
      >
        Annuler
      </button>
      <button class="button black-button" (click)="addNewItem()">
        Nouveau fournisseur
      </button>
      <button class="button green-button" (click)="onSubmit()">
        Enregistrer
      </button>
    </div>
  </div>
</div>
