<div class="modal-overlay" id="entry-details-modal">
  <div class="modal">
    <!-- Modal Header -->
    <div class="modal-header">
      <h3 class="modal-title">Détails d'entrée</h3>
      <button class="close-button" id="close-modal" (click)="onClose()">
        &times;
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <div *ngIf="error.show">
        <app-error [message]="error.message"></app-error>
      </div>
      <form [formGroup]="entreeForm">
        <div class="form-row">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              formControlName="date"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Fournisseur</label>
            <input
              type="text"
              class="form-control"
              formControlName="fournisseur"
              readonly
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Magazinier</label>
            <input
              type="text"
              class="form-control"
              formControlName="magazinier"
              readonly
            />
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div>
        <button class="button red-button" (click)="confirmationModal = true">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="confirmationModal">
  <app-confirm-delete
    [resource]="'entrée'"
    (close)="confirmationModal = false"
    (confirm)="onDelete()"
  ></app-confirm-delete>
</div>
