<div class="modal-overlay" id="entry-details-modal">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Détails du retour #{{ retour?.id }}</h3>
      <button class="close-button" id="close-modal" (click)="onClose()">
        &times;
      </button>
    </div>

    <div class="modal-body" *ngIf="retour">
      <div *ngIf="error.show">
        <app-error [message]="error.message"></app-error>
      </div>

      <form>
        <div class="form-row">
          <div class="form-group">
            <label>Code retour</label>
            <input
              type="text"
              readonly
              class="form-control"
              [value]="retour.id"
            />
          </div>
          <div class="form-group">
            <label>Chantier</label>
            <input
              type="text"
              readonly
              class="form-control"
              [value]="retour.chantier.nom"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              readonly
              class="form-control"
              [value]="retour.date | date: 'dd/MM/yyyy'"
            />
          </div>
          <div class="form-group">
            <label>Nombre d'articles</label>
            <input
              type="text"
              readonly
              class="form-control"
              [value]="retour.items.length"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label>Statut</label>
            <input
              type="text"
              readonly
              class="form-control"
              [value]="retour.status === 'pending' ? 'En attente' : 'Approuvé'"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group" style="flex: 1">
            <label>Observations générales</label>
            <textarea
              readonly
              class="form-control"
              rows="3"
              [value]="retour.observation || 'Aucune observation'"
            ></textarea>
          </div>
        </div>
        <div class="form-row" *ngIf="retour?.status === 'pending'">
          <div class="form-group" style="flex: 1">
            <label>Nom du transporteur</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="nomTransporteur"
              name="nomTransporteur"
            />
          </div>
          <div class="form-group" style="flex: 1">
            <label>Matricule du Voiture</label>
            <input
              [(ngModel)]="matriculeTransporteur"
              type="text"
              class="form-control"
              name="matriculeTransporteur"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer" *ngIf="role != 'responsable-chantier'">
      <button
        class="button red-button"
        (click)="onDeny()"
        *ngIf="retour?.status === 'pending'"
      >
        Refuser
      </button>
      <button
        class="button green-button"
        (click)="onConfirm()"
        *ngIf="retour?.status === 'pending'"
        [disabled]="isConfirming"
      >
        <span *ngIf="!isConfirming">Confirmer</span>
        <app-loading *ngIf="isConfirming" [size]="15"></app-loading>
      </button>
      <button
        class="button black-button"
        (click)="downloadBonRetour()"
        *ngIf="retour?.status === 'confirmed'"
      >
        Exporter bon de retour
      </button>
    </div>
  </div>
</div>

<div *ngIf="confirmationModal">
  <app-confirm-delete
    [resource]="'retour'"
    (close)="onCancelDeny()"
    (confirm)="onConfirmDeny()"
  ></app-confirm-delete>
</div>
