<div class="header">
  <h1 class="page-title">Liste des Sous Familles</h1>
  <div class="user-menu">
    <button
      class="button green-button"
      (click)="setModals({ showAddModal: true })"
    >
      <i class="fa-solid fa-plus"></i>
      Ajouter Sous Famille
    </button>
    <button
      class="button black-button"
      (click)="setModals({ showExportModal: true })"
    >
      <i class="fa-solid fa-file"></i>
      Exporter Sous familles
    </button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title" id="entry-count">
      {{ sous_familles.length }}
      {{ sous_familles.length > 1 ? "Sous familles" : "Sous famille" }}
      {{ sous_familles.length > 1 ? "affichées" : "affiché" }}
    </div>

    <div class="card-search">
      <form style="width: 100%" [formGroup]="searchForm" (submit)="onSearch()">
        <input
          formControlName="search"
          type="text"
          placeholder="Cherchez Sous Familles"
          class="search-bar"
        />
      </form>
      <button
        (click)="setModals({ showFilterModal: true })"
        class="filter-button"
      >
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
  </div>

  <div *ngIf="error.show">
    <app-error [message]="error.message" (retry)="retry()"></app-error>
  </div>

  <div *ngIf="alert.show">
    <app-alert [message]="alert.message" (restore)="onRestore()"></app-alert>
  </div>

  <div class="table-container" style="margin-top: 20px">
    <table class="data-table">
      <thead>
        <tr>
          <th id="first-col">Code</th>
          <th>Nom</th>
          <th id="last-col">Famille</th>
        </tr>
      </thead>
      <tbody id="subfamily-list">
        <tr
          *ngFor="let sousFamille of sous_familles"
          (click)="selectSousFamille(sousFamille)"
        >
          <td>{{ sousFamille.id }}</td>
          <td>{{ sousFamille.nom }}</td>
          <td>
            {{ sousFamille.famille ? sousFamille.famille.nom : "Non Associé" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />

<div *ngIf="loading" style="display: flex; justify-content: center">
  <span style="margin-right: 10px">Chargement des sous familles</span>
  <app-loading [size]="20"></app-loading>
</div>

<br />

<div
  *ngIf="!pagination.lastPage && !error.show && !loading"
  style="display: flex; justify-content: center"
>
  <button class="button gray-button" (click)="showMore()">Afficher Plus</button>
</div>

<div *ngIf="modalSettings.showAddModal">
  <app-add-subfamily-modal
    [familles]="familles"
    (close)="setModals({ showAddModal: false })"
    (create)="onCreate($event)"
  ></app-add-subfamily-modal>
</div>

<div *ngIf="modalSettings.showDetailsModal">
  <app-subfamily-details-modal
    [familles]="familles"
    [sousFamille]="sousFamilleDetails"
    (close)="setModals({ showDetailsModal: false })"
    (update)="onUpdate($event)"
    (delete)="onDelete()"
  ></app-subfamily-details-modal>
</div>

<div *ngIf="modalSettings.showFilterModal">
  <app-filter-subfamily-modal
    [familles]="familles"
    (close)="setModals({ showFilterModal: false })"
    (filter)="onFilter($event)"
  ></app-filter-subfamily-modal>
</div>

<div *ngIf="modalSettings.showExportModal">
  <app-export-modal
    [resource]="'sous familles'"
    (close)="setModals({ showExportModal: false })"
    (export)="onExport($event)"
  ></app-export-modal>
</div>
