<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">Filtrer les sorties</h3>
      <button class="close-button" (click)="onClose()">&times;</button>
    </div>

    <div class="modal-body">
      <app-error *ngIf="error.show" [message]="error.message"></app-error>
      <form [formGroup]="filterForm">
        <div class="form-row">
          <div class="form-group">
            <label>Article</label>
            <select class="form-control" formControlName="articleId">
              <option value="">Tous les articles</option>
              <option *ngFor="let a of articles" [value]="a.id">{{ a.nom }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Chantier</label>
            <select class="form-control" formControlName="chantierId">
              <option value="">Tous les chantiers</option>
              <option *ngFor="let c of chantiers" [value]="c.code">{{ c.nom }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Magazinier</label>
            <select class="form-control" formControlName="compteId">
              <option value="">Tous les magaziniers</option>
              <option *ngFor="let m of magaziniers" [value]="m.id">{{ m.nom }} {{ m.prenom }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button class="button black-button" (click)="onClose()">Annuler</button>
      <button class="button green-button" (click)="onFilter()">Filtrer</button>
    </div>
  </div>
</div>
