<div class="header">
  <h2 class="page-title">Ajouter une nouvelle sortie</h2>
</div>

<div *ngIf="error.show">
  <app-error [message]="error.message"></app-error>
</div>

<div *ngIf="alert.show">
  <app-alert [message]="alert.message" [hideRestore]="true"></app-alert>
</div>

<div class="card">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group">
        <label>Type de sortie :</label>
        <select class="form-control" formControlName="typeSortie">
          <option value="interne-chantier">Sortie interne au chantier</option>
          <option value="interne-depot">Sortie interne au dépot</option>
          <option value="externe">Sortie externe</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Article :</label>
        <select class="form-control" formControlName="articleId">
          <option value="">Sélectionnez un article</option>
          <option [value]="article.id" *ngFor="let article of articles">
            {{ article.nom }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Stock de sortie :</label>
        <input
          class="form-control"
          type="number"
          formControlName="stockSortie"
        />
      </div>
      <div class="form-group">
        <label>Date :</label>
        <input class="form-control" type="date" />
      </div>
    </div>
    <div class="form-row">
      <div
        class="form-group"
        *ngIf="form.get('typeSortie').value == 'interne-chantier'"
      >
        <label>Chantier :</label>
        <select class="form-control" formControlName="chantierId">
          <option value="">Non associé</option>
          <option *ngFor="let chantier of chantiers" [value]="chantier.code">
            {{ chantier.nom }}
          </option>
        </select>
      </div>
      <div
        class="form-group"
        *ngIf="form.get('typeSortie').value == 'interne-depot'"
      >
        <label>Dépot :</label>
        <select class="form-control" formControlName="depotId">
          <option value="">Non associé</option>
          <option *ngFor="let depot of depots" [value]="depot.id">
            {{ depot.nom }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Observation :</label>
        <input class="form-control" type="text" formControlName="observation" />
      </div>
    </div>
    <div
      class="form-row"
      *ngIf="
        form.get('typeSortie').value == 'interne-depot' ||
        form.get('typeSortie').value == 'interne-chantier'
      "
    >
      <div class="form-group">
        <label>Nom complet du transporteur :</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomTransporteur"
        />
      </div>
      <div class="form-group">
        <label>Matricule voiture :</label>
        <input
          type="text"
          class="form-control"
          formControlName="matriculeTransporteur"
        />
      </div>
    </div>
    <div class="form-row" *ngIf="form.get('typeSortie').value == 'externe'">
      <div class="form-group">
        <label>Nom de l'entreprise :</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomEntreprise"
        />
      </div>
      <div class="form-group">
        <label>Adresse de l'entreprise :</label>
        <input
          type="text"
          class="form-control"
          formControlName="adresseEntreprise"
        />
      </div>
    </div>
    <div class="form-row" *ngIf="form.get('typeSortie').value == 'externe'">
      <div class="form-group">
        <label>Matricule fiscale de l'entreprise :</label>
        <input
          type="text"
          class="form-control"
          formControlName="matriculeFiscale"
        />
      </div>
      <div class="form-group">
        <label>Nom du client :</label>
        <input type="text" class="form-control" formControlName="nomClient" />
      </div>
    </div>
    <div
      style="display: flex"
      *ngIf="form.get('typeSortie').value == 'externe'"
    >
      <input formControlName="transporteur" type="checkbox" />
      <label style="margin-left: 7px">Ajouter transporteur</label>
    </div>
    <br />

    <div class="form-row" *ngIf="form.get('transporteur').value == true">
      <div class="form-group">
        <label>Nom du transporteur :</label>
        <input
          class="form-control"
          type="text"
          formControlName="nomTransporteur"
        />
      </div>
      <div class="form-group">
        <label>Matricule du transporteur :</label>
        <input
          class="form-control"
          type="text"
          formControlName="matriculeTransporteur"
        />
      </div>
    </div>
  </form>

  <div style="display: flex; justify-content: space-between">
    <div style="width: 20%; height: 30px">
      <select class="form-control" style="height: 40px">
        <option
          *ngFor="let article of articlesAjoute"
          [value]="article.articleId"
        >
          {{ article.articleName }} - {{ article.stockSortie }}
        </option>
      </select>
    </div>
    <div style="display: flex">
      <button
        (click)="onAddSortie()"
        class="button black-button"
        style="margin-right: 7px"
      >
        Ajouter autre produit
      </button>
      <button class="button green-button" (click)="onSubmit()">
        Enregistrer Tous
      </button>
    </div>
  </div>
</div>
